.adminNav {
  background-color: #6a0dad;
  width: 25rem;
  min-height: 100vh;
  position: fixed;
  padding-left: 2rem;
}

.admin {
  font-size: 2rem;
  color: #f4f4f4;
  margin-top: 4rem;
}

.adminDetails {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  margin-top: 2rem;
  align-items: center;
}

.adminDetails img {
  width: 5rem;
  height: 5rem;
}

.name {
  font-size: 1.4rem;
  color: #f4f4f4;
  text-transform: capitalize;
}

.pages,
.dashboard {
  font-size: 1.4rem;
  color: #f4f4f4;
  margin-top: 2rem;
  text-transform: capitalize;
}

.dashboard {
  margin-top: 0rem;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
  padding-left: 2rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  color: #f4f4f4;
}

.menuDiv {
  display: none;
}

.menu {
  height: 3rem;
  width: 3rem;
  color: #131313;
  opacity: 0.7;
}

@media (min-width: 250px) and (max-width: 575px) {
  .adminNav {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  .open {
    transform: translateX(-100%);
  }
  .close {
    transform: translateX(0);
  }
}
