.section{
    width: 100%;
    height: auto;
}

.AllOrder {
  padding-left: 29rem;
  width: 100%;
  padding-bottom: 4rem;
}

.container {
    width: 100%;
}

.section {
  background-color: #f9f9f9;
}

.orderHistory {
  overflow-x: auto;
  margin: 20px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 16px;
  text-align: left;
}

.table th,
.table td {
  padding: 10px 15px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #6a0dad;
  color: #fff;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.paginationControls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
  color: blue;
}

.prevBtn, .nextBtn{
  font-size: 1.4rem;
  margin-top: 2rem;
}

.sent, .delivered {
  height: 4rem;
  width: 12rem;
  background-color: green;
  color: #fff;
}

.delivered {
  background-color: #6a0dad;
}


@media (min-width: 250px) and (max-width: 575px) {
  .AllOrder{
    padding-left: 0rem;
  }
  .section {
    margin-top: 4rem;
  }
}