.layout {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    background-color: #6a0dad27;
    min-height: 100vh;
    padding-right: 4rem;
}


@media (min-width: 250px) and (max-width: 575px) {
    .layout {
        padding: 2rem;
    }
}