*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.contactHero {
    width: 100%;
    height: auto;
}

.contactInfoDiv {
    width: 100%;
}

.info {
    width: 100%;
    height: 10rem;
    color: #6a0dad;
    display: flex;
    align-items: center;
}

.text {
    color: #6a0dad;
    font-size: 4rem;
    text-align: center;
}

.contactInfo {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.socialFlex {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

@media (max-width: 575px){
    .text {
        font-size: 2rem;
        text-align: center;
        color: #6a0dad;
    }
}