.containers {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
}

/* .conts {
    height: 20rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.icon {
    width: 25rem;
    height: 25rem;
    color: grey;
}

.text{
    font-size: 2rem;
    color: grey;
}

@keyframes scale {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.2);
    }
}

