.productDetail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin: auto;
  padding: 20px;
  gap: 4rem;
  height: auto;
  /* box-shadow: 0px 0px 3px 2px #99999986; */
  border-radius: 2rem;
}

.slider {
  width: 100%;
  height: 100%;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.productImage {
  border-radius: 2rem;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.productName {
  font-size: 3rem;
  color: #131313;
  font-weight: bold;
  margin-bottom: 1rem;
  opacity: 0.7;
  text-transform: uppercase;
}

.description {
  font-size: 1.6rem;
  color: #131313;
  line-height: 3rem;
  opacity: 0.7;
  margin-bottom: 1.5rem;
}

.priceDiv {
  display: flex;
  align-items: center;
  gap: 2rem;
  /* margin-bottom: 1.5rem; */
}

.priceName {
  font-weight: bold;
  font-size: 1.6rem;
  opacity: 0.7;
  color: #131313;
}

.price {
  font-size: 1.6rem;
  font-weight: bold;
  color: #131313;
  opacity: 0.7;
}

.sizeCont, .buttonDiv {
  display: flex;
  gap: 1rem;
}

.btnSize, .btnColor {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btnSize {
  color: #131313;
  font-size: 1.6rem;
  height: 2.5rem;
  width: 2.5rem;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #131313;
  text-transform: uppercase;
}

.btnSize.select {
  background-color: #131313;
  color: #fff;
}

.btnColor {
  width: 2.5rem;
  height: 2.5rem;
  /* border-radius: 1rem; */
}

.btnColor.selected {
  opacity: 0.5;
}

.outStock {
  color: #d9534f;
  font-weight: bold;
  font-size: 2rem;
}

.buttonDiv {
  margin-top: 20px;
}

@media (min-width: 250px) and (max-width: 767px) {
  .productName {
    font-size: 2rem;
  }

  .priceDiv {
    margin-bottom: 2rem;
  }

  .productDetail {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 2rem;
    padding: 0px;
  }

  .buttonDiv {
    margin-top: -2rem;
  }
}
