.profileContainer {
  width: 90%;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  /* height: 60vh; */
  place-content: center;
}

.profileImage {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileCont {
  height: 40rem;
  width: 40rem;
  border-radius: 20rem;
}

.profileCont img {
  height: 100%;
  width: 100%;
  border-radius: 20rem;
}

.profileHeading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.profileDetails {
  display: flex;
  flex-direction: column;
}

.detailItem {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: #555;
  text-transform: capitalize;
}

.detailItem strong {
  color: #333;
}

.profileBtn{
  margin-top: 1rem;
  background-color: #6a0dad;
  font-size: 1.6rem;
  text-align: center;
  height: 4rem;
  width: 80%;
  color: #fff;
}

@media (max-width: 575px) {
  .profileContainer {
    grid-template-columns: 1fr;
  }

  .profileCont, .profileCont img {
    width: 30rem;
    height: 30rem;
    border-radius: 15rem;
  }

  .profileBtn {
    width: 100%;
  }
} 
